In [34]:
import pandas as pd
df = pd.DataFrame([[1,1,1],[2,2,2],[3,3,3]],columns=('a','b','c'))
df

   a  b  c
0  1  1  1
1  2  2  2
2  3  3  3

In [36]:
def aa(x):
    return x*10

for i, value in enumerate(df.a):
    df.a[i] = aa(value)

df.a = df.a.apply(aa)

#한번만 쓰일 함수는 lamda를 이용해서 바로 넣어준다
df.a = df.a.apply(lambda x : x*10)

#3가지 모두 동일한 동작, 3번째 권장
df

         a  b  c
0  1000000  1  1
1  2000000  2  2
2  3000000  3  3

In [37]:
df.apply(lambda x : x+10 , axis=0)

         a   b   c
0  1000010  11  11
1  2000010  12  12
2  3000010  13  13

In [38]:
df['sum'] = df.apply(lambda x : x.b+x.c, axis=1)
df

         a  b  c  sum
0  1000000  1  1    2
1  2000000  2  2    4
2  3000000  3  3    6

In [41]:
df[['a','b']].sum(axis = 0)

a    6000000
b          6
dtype: int64